.horoscopeQuiz #quiz {
  max-width: 600px;
  margin: 0 auto;
  direction: rtl;
  padding-top: 2rem; }
  .horoscopeQuiz #quiz .questionImage {
    max-width: 100%; }
  .horoscopeQuiz #quiz .quizQuestion p {
    font-family: 'Droid Arabic Kufi', sans-serif !important; }
.horoscopeQuiz #quiz.horoscopeQuiz .questionAnswers {
  margin-top: .5rem; }
.horoscopeQuiz #quiz.horoscopeQuiz .resultText {
  width: calc(100% - 212px);
  float: right; }
.horoscopeQuiz .quizQuestion.colors .threeUp:nth-of-type(7) p {
  border: 2px solid #ebebeb; }
.horoscopeQuiz .quizQuestion {
  position: relative; }
  .horoscopeQuiz .quizQuestion p {
    color: white !important;
    /* override styling conflict. remove for 2.0. */
    text-align: center;
    padding: .75rem;
    margin: 5px !important;
    /* override styling conflict. remove for 2.0. */
    white-space: normal; }
  .horoscopeQuiz .quizQuestion .questionTitle {
    font-size: 1.75rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-family: 'Droid Arabic Kufi', sans-serif;
    text-align: center;
    margin-top: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); }
  .horoscopeQuiz .quizQuestion .questionAnswers {
    padding: 0;
    list-style-type: none;
    clear: right; }
    .horoscopeQuiz .quizQuestion .questionAnswers li {
      float: left;
      position: relative;
      margin-bottom: 1rem;
      background-color: #f7f7f7;
      border: 2px solid #ebebeb;
      cursor: pointer;
      padding-bottom: 5px; }
      .horoscopeQuiz .quizQuestion .questionAnswers li:hover {
        background-color: #fff195; }
      .horoscopeQuiz .quizQuestion .questionAnswers li img {
        width: calc(100% - 6px);
        margin: 3px; }
    .horoscopeQuiz .quizQuestion .questionAnswers .questionAnswer {
      margin: 10px 6px 8px 0;
      position: relative;
      left: -5px;
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      transform: scale(1.5); }
  .horoscopeQuiz .quizQuestion li.selected,
  .horoscopeQuiz .quizQuestion li.selected:hover {
    background-color: #bed5ed;
    /* blue */ }
  .horoscopeQuiz .quizQuestion .answered li:not(.selected) {
    opacity: 0.5;
    background-color: #666666;
    /* dark grey */ }
    .horoscopeQuiz .quizQuestion .answered li:not(.selected):hover {
      opacity: 1;
      background-color: #fff195;
      /* yellow */ }
.horoscopeQuiz #quiz.completed .questionAnswers li {
  cursor: not-allowed; }
.horoscopeQuiz .completed .answered li:not(.selected):hover {
  background-color: #666666 !important;
  opacity: 0.5; }
.horoscopeQuiz .source {
  float: right;
  font-size: .75em;
  color: #999;
  padding: 3px;
  position: relative;
  top: -25px;
  left: -5px; }
.horoscopeQuiz #quizResult {
  border: 2px solid #ebebeb; }
  .horoscopeQuiz #quizResult *:not(span) {
    padding: 5px 5px 0 5px; }
  .horoscopeQuiz #quizResult .quizTitle {
    font-size: 1em;
    color: #999;
    font-family: 'Droid Arabic Kufi', sans-serif; }
  .horoscopeQuiz #quizResult .resultTitle {
    margin: 0;
    font-size: 2rem;
    font-family: 'Droid Arabic Naskh', sans-serif; }
  .horoscopeQuiz #quizResult .resultImage {
    float: right;
    margin-left: 1rem;
    max-height: 180px; }
  .horoscopeQuiz #quizResult .source,
  .horoscopeQuiz #quizResult .shareResult {
    clear: right; }
  .horoscopeQuiz #quizResult .source {
    top: 0;
    left: 0; }
  .horoscopeQuiz #quizResult .shareResult {
    border-top: 2px solid #ebebeb; }
    .horoscopeQuiz #quizResult .shareResult p {
      margin-top: 0;
      font-family: 'Droid Arabic Kufi', sans-serif; }
  .horoscopeQuiz #quizResult a {
    display: inline-block;
    height: 30px;
    width: 100px;
    border-radius: 0;
    color: white;
    border: 0;
    float: right;
    font-size: 1.25rem; }
    .horoscopeQuiz #quizResult a i {
      padding: 0;
      color: white; }
  .horoscopeQuiz #quizResult .facebookQuizShare {
    margin: 0 5px 10px 10px;
    cursor: pointer; }

@media (max-width: 480px) {
  #quiz.horoscopeQuiz p.resultText {
    margin-top: 0;
    clear: both;
    width: 100%;
    padding: 0 10px 0 5px; } }
@media (max-width: 480px) {
  .horoscopeQuiz .threeUp {
    width: 32.5%; }
    .horoscopeQuiz .threeUp p {
      height: 100px;
      font-size: 0.9em !important;
      margin: 4px !important; }
  .horoscopeQuiz .twoUp p,
  .horoscopeQuiz .oneUp p {
    height: 100px; }
  .horoscopeQuiz .mobileStack li.threeUp,
  .horoscopeQuiz .mobileStack li.twoUp {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .horoscopeQuiz .article-detail-container {
    max-width: 100% !important;
    /* override styling conflict. remove for 2.0. */
    margin-left: 0 !important; } }
@media (max-width: 600px) {
  .horoscopeQuiz .questionAnswers p {
    line-height: 1.2 !important; } }
@media (min-width: 480px) {
  .horoscopeQuiz .questionAnswers p {
    height: 130px; }
  .horoscopeQuiz .threeUp {
    width: 32.75%; } }
.horoscopeQuiz .threeUp:nth-of-type(2), .horoscopeQuiz .threeUp:nth-of-type(5), .horoscopeQuiz .threeUp:nth-of-type(8), .horoscopeQuiz .threeUp:nth-of-type(11) {
  margin-left: 3px;
  margin-right: 3px; }
.horoscopeQuiz .twoUp {
  width: 49.4%; }
  .horoscopeQuiz .twoUp:nth-of-type(1), .horoscopeQuiz .twoUp:nth-of-type(3), .horoscopeQuiz .twoUp:nth-of-type(5), .horoscopeQuiz .twoUp:nth-of-type(7), .horoscopeQuiz .twoUp:nth-of-type(9) {
    margin-right: 3px; }
.horoscopeQuiz .oneUp {
  width: 100%; }

@media (min-width: 1700px) {
  .horoscopeQuiz .fb_dialog {
    left: 25% !important; } }
