#quiz {
	max-width: 600px;
	margin: 0 auto;
	direction: rtl;
}
#quiz.completed .questionAnswers li {
	cursor: not-allowed;
}
#questionList {
	white-space: nowrap;
}
.quizQuestion {
	position: relative;
	p {
		color: white;
		text-align: center;
		padding: .75rem;
		margin: 5px;
		font-family: 'Droid Arabic Kufi', sans-serif;
		white-space: normal;
	}
	.questionTitle {
		font-size: 1.75rem;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		text-align: center;
		margin-top: 10px;
		color: white;
		background-color: rgba(0,0,0,.5);
	}
	.questionAnswers {
		padding: 0;
		margin-top: 1rem;
		list-style-type: none;
		clear: right;
		& li {
			float: left;
			position: relative;
			margin-bottom: 1rem;
			background-color: #f7f7f7;
			border: 2px solid #ebebeb;
			cursor: pointer;
			padding-bottom: 5px;
			&:hover {
				background-color: #fff195;
			}
		}
		.questionAnswer {
			margin: 10px 6px 8px 0;
			position: relative;
			left: -5px;
			-ms-transform: scale(1.5);
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
		}
	}
	li.selected,
	li.selected:hover {
		background-color: #bed5ed;
	}
	.answered li:not(.selected) {
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}
.source {
	float: right;
	font-size: .75em;
	color: #999;
	padding: 3px;
	position: relative;
	top: -20px;
	left: -5px;
}
#quizResult {
	border: 2px solid #ebebeb;
	*:not(span) {
		padding: 5px;
	}
	.quizTitle {
		font-size: 1em;
		color: #999;
		font-family: 'Droid Arabic Kufi', sans-serif;
	}
	.resultTitle {
		margin: 0;
	}
	.resultImage {
		float: right;
	}
	.source,
	.shareResult {
		clear: right;
	}
	.source {
		top: 0;
		left: 0;
	}
	.shareResult {
		border-top: 2px solid #ebebeb;
		p {
			margin-top: 0;
		}
	}
	a {
		display: inline-block;
		height: 30px;
		width: 100px;
		border-radius: 0;
		color: white;
		border: 0;
		float: right;
		font-size: 1.25rem;
		i {
			padding: 0;
		}
	}
	.facebookQuizShare {
		margin: 0 5px 10px 10px;
		cursor: pointer;
	}
}
