.oneUp {
	width: calc(100% - 10px);
}
.twoUp {
	width: calc(100% / 2 - 1.25% - 10px);
	&:nth-of-type(1),
	&:nth-of-type(3),
	&:nth-of-type(5),
	&:nth-of-type(7),
	&:nth-of-type(9) {
		margin-right: 1%;
	}
}
@media (max-width: 480px) {
	.threeUp  {
		width: calc(100% - 14px);
		&:nth-of-type(2),
		&:nth-of-type(5),
		&:nth-of-type(8) {
			margin-right: 0;
			margin-left: 0;
		}
		p {
			height: 90px;
		}
	}
	.twoUp {
		width: calc(100% / 2 - 1.75% - 10px);
	}
	.twoUp p {
		height: 100px;
	}
	.oneUp {
		width: calc(100% - 14px);
	}
	.mobileStack li {
		width: calc(100% - 14px);
	}
}
@media (max-width: 600px){
	.questionOptions p {
		line-height: 1.25;
	}
}
@media (min-width: 480px) {
	.questionOptions p {
		height: 130px;
	}
	.threeUp {
		width: calc(100% / 3 - 1.5% - 11px);
		&:nth-of-type(2),
		&:nth-of-type(5),
		&:nth-of-type(8) {
			margin-right: 1%;
			margin-left: 1%;
		}
	}
}
